<h2>Questions</h2>

<div class="content">
  <% QUESTIONS.each do |question| %>
    <div class="question" >
      <p><%= question.text %></p>
      <span class="label label-default label-pill pull-xs-right"><%= question.id %>></span>
      <ul class="list-group sortable">
        <% question.variants.each do |variant| %>
          <li class="list-group-item ui-state-default">
            <%= variant %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
